a {
    text-decoration: inherit;
    color: inherit;
}

figure {
    display: inline-block;
    background: rgb(134, 134, 134);
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    height: 275px;
    width: 200px;
    vertical-align: top;
    text-align: center;
    border: solid black 2px;
    border-radius: 5px;
}

figure:hover {
    box-shadow: 2px 3px 9px black;
}

img {
    width: 100%;
    height: 50%;
    border-bottom: solid 0.5px;
}

figcaption {
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}